= semantic_fields_for 'blueprint[blueprint_options]', @blueprint.blueprint_options do |f|
  = f.inputs do
    - @blueprint.blueprint_parameters.each do |param|
      = f.input param[0], (param[1].is_a?(Hash) ? param[1] : param[1].call)
