body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal; }
ol,ul { list-style:none; }
caption,th { text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''; }
abbr,acronym { border:0;}



html { background-color:#6BA2CD; color:#333333; }



body {
 font-family:Arial;
 font-size:15px;
}

a { color:#3e5e76; }

#header_wrapper { background-color: #6ba2cd;  }
#header { 
  margin:0 auto;
  width:960px;
  position:relative;
  background-color: #6ba2cd; position:relative; height:260px; background:url(/images/logo.png) top left no-repeat; }

  #header h1 { font-size:30px; font-weight:bold; display:none;  }
#links { position: absolute; top:10px; right:0px; }
#links a { display:inline-block; padding:0 10px; color:white; text-decoration:none; }
#links a:hover { text-decoration:underline; }

#menu_wrapper { background:url(/images/header_bar.png) top left repeat-x; height:39px;  }
  #menu { margin:0 auto; width:960px; }

  #menu ul { list-style:none; display:block;  }
  #menu ul li { list-style:none; display:block; float:left; margin:0 4px 0 0; }
  #menu ul li a { 
    font-weight:bold;
     color:#FFFFFF;
     display:block; padding:11px 20px;  text-decoration:none; 
     -moz-border-radius-topleft:8px;
     -webkit-border-top-left-radius:8px;
     -moz-border-radius-topright:8px;
     -webkit-border-top-right-radius:8px;
  }
  #menu ul li.active a, #menu ul li a:hover { background-color:white; color:black; }


#container { background-color:white;
    padding:20px; background: url(/images/page_background.png) top left no-repeat #FFFFFF; 
    margin:0 auto;
    width:960px;
    min-height:500px;
  
}

h1 { font-size:30px; margin-bottom:10px;  }
h2 { font-size:20px; margin:10px 0px; }


p.notice {
 background-color: #A6CDDA;
 border: 1px solid #999999;
 color: #0F75BC;
 font-weight:bold;
 text-align:center;
 padding:10px;
 margin: 15px 0px;
}

.top_links { padding:10px 0px; }

.right_action { text-align:right; }
  .right_action a { 
     float:right;
     color:white;
     background-color:#3e5e76;
     padding:6px 8px;
     margin:0 10px;
     text-decoration:none;
     -moz-border-radius:8px;
     -webkit-border-radius:8px;
  }


.action_links{ text-align:left; height:30px; padding-bottom:10px; }
  .action_links a { 
     float:left;
     color:white;
     background-color:#3e5e76;
     padding:6px 8px;
     margin:0 20px 0 0;
     text-decoration:none;
     -moz-border-radius:8px;
     -webkit-border-radius:8px;
  }


table.main_table { }
 table.main_table tr { padding:5px; }
 table.main_table th { background-color:#89bd44; color:white; padding:10px 5px; border-right:1px solid white; font-weight:bold;  }
 table.main_table td { padding:10px 5px; }


form.formtastic >  fieldset > ol > li { width:650px; }
form.formtastic > fieldset > ol > li > label { width:22%; padding-right:3%; text-align:right; padding-top:5px; }
form.formtastic li.radio ol { margin-top:25px; }
form.formtastic li.radio ol li { display:block; width:400px; }


form.formtastic fieldset ol li.string input,
form.formtastic fieldset ol li.password input { 
  border:2px solid #CCCCCC;
  border-color:#999999;
  opacity: 0.8;
  padding:5px 10px;
  width:60%; 
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
 }

 form.formtastic fieldset ol li.string input:focus,
form.formtastic fieldset ol li.password input:focus { 
  background-color:#DDDDDD;
  border-color:#0000CC;
}

form.formtastic fieldset ol li.error input { 
  border-color:#CC0000 !important;
}


li.line_item { height:20px; padding:3px; border:1px solid #CCCCCC; margin:3px; 0px;}


li.line_item .blueprint_name { display:block; float:left; width:260px; text-align:left; font-weight:bold; }
li.line_item .blueprint_descripiont { display:block; float:left; width:300px; text-align:right; }
li.line_item a { float:right; }


li.line_item .step_finished { font-style:italic; }
li.line_item .step_active { font-weight:bold; }
li.line_item .step_finished { }
