%h1 Listing companies
%table.main_table
  %tr
    %th Name
    %th
    %th
  - @companies.each do |company|
    %tr
      %td= link_to company.name, company_path(company)
      %td= link_to 'Edit', edit_company_path(company)
      %td= link_to 'Destroy', company, :confirm => 'Are you sure?', :method => :delete
%br/
= link_to 'New Company', new_company_path
