%h1= @deployment.name

.right_action
  = link_to 'Destroy', @deployment, :confirm => 'Destroy this deployment?', :method => :delete

.clear{:style => 'clear:both;'} 

#deployment-details
  =render :partial => 'details'


- if !@deployment.finished?
  :javascript
    var loadTimer = null;
    $(function() {
      loadTimer = setInterval(function() {
        $("#deployment-details").load("#{deployment_url(@deployment)}",
            function(response,status) {
              if(status == 'error') clearInterval(loadTimer);
            });
      },4000);
    });
